run = "npm start"
entrypoint = "server.js"
modules = ["web", "nodejs-18", "python-3.12"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80

[env]
PORT = "3000"
